/* TEST PAGE TEST3*/
* {
    margin: 0px;
    padding: 0px;
}


.header .form-control{
    border: 0px;
    margin: 0px;
    padding: 0px;
   margin-top:10px;
   
}


#dotty{
  margin-top: 30px;  
    margin-top:  -40px;
    height:auto;
}



.tf3{
    border: 0px;
    padding: 0px;
    margin: 0px;
    height: 100px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.xec{
 
    height: 40px;
}
#Float_F {
    background-color: transparent;
}

    #Float_F img {
        float: left;
        margin-top: -117px;
        position: absolute;
        z-index: -1;
    }

    #Float_F #block {
        float: right;
        z-index: -1;
        background-color: black;
        color: white;
        height: 223px;
        padding: 10px;
        padding-top: 30px;
        width: 50%;
    }


        #Float_F #block h1 {
            font-size: 20px;
        }


.img-f{
    height: 100%;
    width: 100%;
    border: 0px;
   
}