
* {
    box-sizing: border-box;
    
}
.nav-link,.dropdown-item{
    cursor: pointer;
}
/* Add a gray background color with some padding */
body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}




/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
padding-left: 0px;
    padding-right: 0px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;  padding-left: 20px;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
  
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;     box-shadow: 0 1px 2px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.1);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    margin-bottom: -90px;
       box-shadow: 0 2px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.1);
    border-radius: 10px;

}

.footer h2{
    font-size: 13pt;
    
}
.footer a {
font-size: 25px;
color: silver;
}

.logo2{
    height: 37px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;

}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 991px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }

    .logo2 {
        display: none;
    }
}
#navbarSupportedContent img {
    height: 37px;
}
/*@media screen and (max-width: 991) {

    .logo2 {
        display: none;
    }

}*/
.navbar .navbar-toggler, .navbar-toggler-icon{
    border: 0px white solid;
    color: white;
}

.navbar-toggler img {
    border-radius: 15px;
    height: 37px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.nav-item {
    padding-left: 15px;
}