
*, body {
    box-sizing: border-box;
    position: relative;
}



.fff{
    background-color: white;
}

.nav-link, .dropdown-item {
    cursor: pointer;
}
/* Add a gray background color with some padding */
body {
    font-family: Arial;
    padding: 20px;
    background: #2C50CB;
}

.navbar-nav .active {
    border-left: 1px #496fb5 solid;
    border-right: 1px #496fb5 solid;
    background: white;
    color: blue;
}

#navbarSupportedContent .GBNAEJU .active1 {
    background: white;
    color: #496fb5;
}

#navbarSupportedContent .GBNAEJU a:hover {
    color: #496fb5;
    background: white;

}
#navbarSupportedContent .GBNAEJU .nav-link {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
.this1{
    cursor: pointer;
}

.i{
   
   border: 3px #204487 solid;
    padding: 0px;
    margin: 0px;
    background: white;
    border-radius: 100px;
}

.iav {
    border: 3px #204487 solid;
    padding: 0px;
    margin: 0px;
    background: rgba(32, 68, 135, 0.73);
    border-radius: 100px;
}

.idn{
    background:red;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
    padding-left: 0px;
    padding-right: 0px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
    padding-left: 20px;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.1);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    margin-bottom: -90px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.1);
    border-radius: 10px;
}

    .footer h2 {
        font-size: 13pt;
    }

    .footer a {
        font-size: 25px;
        color: silver;
    }

.logo2 {
    height: 37px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}


.all {
    margin: 100px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 991px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }

    .logo2 {
        display: none;
    }

    .all {
        margin: 0px;
    }

    
}

#jssor_1{
  border-radius: 15px;  
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.1);
}

#navbarSupportedContent img {
    height: 37px;
}
/*@media screen and (max-width: 991) {

    .logo2 {
        display: none;
    }

}*/

.navbar-toggler {
    /*background: linear-gradient(#496fb5, #204487);*/
}

.navbar .navbar-toggler, .navbar-toggler-icon {
    border: 0px white solid;
    color: white;
    /*background: linear-gradient(#496fb5, #204487);*/
}

.navbar-toggler img {
    border-radius: 15px;
    height: 37px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.nav-item {
    padding-left: 15px;
}


/* ** * ** */
/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*jssor slider bullet skin 051 css*/
.jssorb051 .i {
    position: absolute;
    cursor: pointer;
}

    .jssorb051 .i .b {
        fill: #fff;
        fill-opacity: 0.5;
    }

    .jssorb051 .i:hover .b {
        fill-opacity: .7;
    }

.jssorb051 .iav .b {
    fill-opacity: 1;
}

.jssorb051 .i.idn {
    opacity: .3;
}

/*jssor slider arrow skin 051 css*/
.jssora051 {
    display: block;
    position: absolute;
    cursor: pointer;
}

    .jssora051 .a {
        fill: none;
        stroke: #fff;
        stroke-width: 360;
        stroke-miterlimit: 10;
    }

    .jssora051:hover {
        opacity: .8;
    }

    .jssora051.jssora051dn {
        opacity: .5;
    }

    .jssora051.jssora051ds {
        opacity: .3;
        pointer-events: none;
    }



/* ** * ** */
